header {
    height: 48px;
    color: white;
    background-color: #FF8000;
    padding: 0px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    height: 38px;
}

main {
    display: flex;
    justify-content: space-between;
}

.dish-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dish-card {
    width: calc(100% - 300px);
    padding: 16px;
}