.basket-wrapper {
    width: 300px;
    margin-right: 4px;
    padding: 8px 0px 0px 8px;
    flex-grow: 1;
}

.basket {
    width: 300px;
    height: 400px;
    padding-right: 8px;
    position: sticky;
    top: 0;
}

.basket-meal {
    display: flex;
    flex-direction: column;
}

.basket-delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    font-size: 2em;
}

h5{
    color: rgb(77, 77, 77);
    font-size: 15px;
}