@media (max-width: 1300px) {
    header {
        justify-content: space-between;
    }
}

@media (min-width: 701px) {
    .btn-open-basket {
        display: none;
    }
}

@media (max-width: 700px) {
    footer {
        margin-top: 50px;
    }

    .basket-wrapper {
        display: none;
    }

    .btn-open-basket {
        display: block;
    }

    .top-img {
        border-radius: 0;
    }
}

@media (max-width: 785px) {
    .meal-show {
        max-width: 306px;
    }
}

@media (max-width: 400px) {
    .meal-show {
        max-width: 228px;
    }
}